*{
  margin:0;
  padding:0;
}
.allItemsList{
  display: grid;
  grid-row: auto;
  margin:auto;
  padding: 0.4em;
  grid-template: auto / auto auto;
 list-style: none;
}
.allItemsList > div > img{
  width: 5em;
  height: 5em;
}
.allItemsList > div{
  border: 1px solid black;
  border-radius: 0.4em;
  text-align: center;
  padding: 0.4em;
}
.App{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
   grid-template-areas:
  'Header Header Header Header'
  'Header Header Header Header'
  'Nav Main Main Main'
  'Nav Main Main Main'
  ; 
  padding: 0.5rem;
}
.Header{
  grid-area:Header;
display: block;
width: 100%;
text-align: center;
border: 1px solid black;
}
.Nav{
  grid-area: Nav;
display: block;
border: 1px solid black;
}
.Main{
grid-area: Main;
border: 1px solid black;
}