@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  margin: 0;
  padding: 0;
}
body{
background-color: rgb(196, 221, 243);
}
.allItemsList {
  display: grid;
  grid-row: auto;
  margin: auto;
  padding: 0.4em;
  /* grid-template: auto / auto auto; */
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}
.itemImage {
  display: flex;
  margin:0.6em;
  width: 13em;
  height: 13em;
}
.itemImage > img {
  border-radius: 1em;
}
.itemCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.itemText {
  margin: auto;
  text-align: left;
}
.itemText > p {
  font-family: 'Acme', sans-serif;
  padding: 0.3em;
}
.allItemsList > div {
  border: 1px dotted black;
  border-radius: 1em;
  text-align: center;
  padding: 0.3em;
}
.buttonSection {
  padding: 0.4em;
}
.buttonSection > button {
  font-size: 0.9rem;
  font-weight: bold;
  color: aliceblue;
  background-color: rgb(90, 90, 90);
  margin: auto;
  padding: 0.6em;
  border-radius: 0.6em;
}
.buttonSection > button:hover {
  box-shadow: 0 0.1em 0.5em 0.05em rgb(250, 176, 39);
}
.App {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-template-areas:
    'Header Header Header Header'
    'Header Header Header Header'
    'Nav Main Main Main'
    'Nav Main Main Main';
  padding: 0.5rem;
}
.Header {
  grid-area: Header;
  display: block;
  width: 100%;
  height: 13vh;
  text-align: center;
  border-radius: 1em;
  background: rgb(79, 79, 79);
  background: linear-gradient(
    93deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(97, 96, 96, 0.5046393557422969) 34%,
    rgba(134, 133, 133, 1) 71%,
    rgba(156, 156, 156, 1) 100%
  );
}
#basket{
 width: 3em;
 border-radius: 100%;
 margin-right: 2em;
}
#profile{
  width: 3em;
  border-radius: 100%;
}
#home{
  width:2.7em;
  border-radius: 100%;
  margin-left: 2em;
}
#loggedUser{
 margin-right:5em;
}
#avatar{
  margin-right: 5em;
  width: 3em;
  height: 3em;
  border-radius:80%;
}
.Header>h1{
  text-align: center;
  font-size: 2rem;
  font-family: 'Acme', sans-serif;
font-style: oblique;
}

.Nav {
  grid-area: Nav;
  width: 15.5vw;
  margin-top:0.5em;
  display: block;
  background: rgb(79, 79, 79);
  background: linear-gradient(
    180deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(97, 96, 96, 0.5046393557422969) 34%,
    rgba(134, 133, 133, 1) 71%,
    rgba(156, 156, 156, 1) 100%
  );
  border-radius: 1em;
  text-align: center;
}
.Nav > h3 {
  color: rgb(211, 211, 210);
  font-size: 1.3rem;
  margin: auto;
  padding: 0.9em;
  text-align: center;
}
.Main {
  width: 82vw;
  margin-top: 0.5em;
  grid-area: Main;
  border-radius: 1em;
  background: rgb(79, 79, 79);
  background: linear-gradient(
    180deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(97, 96, 96, 0.5046393557422969) 34%,
    rgba(134, 133, 133, 1) 71%,
    rgba(156, 156, 156, 1) 100%
  );
}
.categories {
  display: flex;
  flex-direction: column;
  margin: 1em;
  text-align: left;
}
.categories > a:visited {
  color: rgb(44, 44, 44);
  padding: 0.2em;
  background-color: rgb(202, 202, 202);
  font-size: larger;
  box-shadow: 0 0.1em 0.1em 0.1em rgb(122, 122, 122);
}
.categories > a:hover {
  border: 1px dotted orange;
}
.categories > a:link {
  color: rgb(44, 44, 44);
  padding: 0.2em;
  background-color: rgb(202, 202, 202);
  font-size: larger;
  box-shadow: 0 0.1em 0.1em 0.1em rgb(122, 122, 122);
  border-radius: 1em;
}
.headerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
